### Replicate Sentences Analysys

In [2]:
import pandas as pd
import os
import re

#### 1. Load the dataset

In [3]:
path_to_test = "acerpi_dataset/test/annotated"
path_to_train = "acerpi_dataset/train/annotated"

In [4]:
ner_dataset = pd.read_json(os.path.join(path_to_train, 'unique_sentences_replicated.jsonl'), orient='record', lines=True)

In [5]:
ner_dataset.head()

,id,text,document,sentence_id,duplicates,tagged_entities,label
0,199,"Conceder à servidora LISIANE RAMOS VILK, ocupa...",25644,2,[2],"[{'entity_group': 'O', 'score': 0.7762932777, ...","[[62, 88, OCCUPATION], [109, 133, ORGANIZATION..."
1,200,MAURÍCIO VIÉGAS DA SILVA Pró-Reitor de Gestão ...,25644,3,"[3, 94, 156, 168, 173, 272, 276, 280, 284, 288...","[{'entity_group': 'PERSON', 'score': 0.6592996...","[[25, 56, OCCUPATION], [0, 24, PERSON]]"
2,201,Autorizar o afastamento do país de CRISTINE MA...,25645,6,[6],"[{'entity_group': 'O', 'score': 0.6819901466, ...","[[119, 166, ORGANIZATION], [250, 284, ORGANIZA..."
3,202,CARLOS ALEXANDRE NETTO Reitor,25645,8,"[8, 13, 18, 23, 28, 38, 43, 63, 72, 81, 99, 10...","[{'entity_group': 'PERSON', 'score': 0.6323550...","[[0, 22, PERSON], [23, 29, OCCUPATION]]"
4,203,Autorizar o afastamento do país de ANDRE DIAS ...,25646,11,[11],"[{'entity_group': 'O', 'score': 0.6808940768, ...","[[55, 82, OCCUPATION], [109, 132, ORGANIZATION..."

In [21]:
ner_dataset['label'][4]

[[55, 82, 'OCCUPATION'],
 [109, 132, 'ORGANIZATION'],
 [35, 53, 'PERSON'],
 [212, 222, 'LOCATION'],
 [264, 274, 'DATE'],
 [277, 287, 'DATE'],
 [224, 232, 'LOCATION']]

In [36]:
sample = ner_dataset.iloc[40]

for entity in sample['label']:
    print(entity)
    print(sample['text'][entity[0]:entity[1]], '\n')

[66, 98, 'OCCUPATION']
Professor do Magistério Superior

[35, 64, 'PERSON']
CESAR BASTOS DE MATTOS VIEIRA

[125, 152, 'ORGANIZATION']
Departamento de Arquitetura

[386, 410, 'ORGANIZATION']
Pró-Reitoria de Pesquisa

[156, 180, 'ORGANIZATION']
Faculdade de Arquitetura

[339, 349, 'DATE']
06/11/2016

[326, 336, 'DATE']
31/10/2016

[277, 285, 'LOCATION']
Pamplona

[287, 294, 'LOCATION']
Espanha

[379, 384, 'ORGANIZATION']
UFRGS

In [31]:
sample = ner_dataset.iloc[4]